<template>
    <div>
        <nav>
            <ul class="pagination">
                <li v-for="n in pages.lastPage" :class="n==pages.currentPage?'page-item active':'page-item'" >
                    <a @click="changePage" :data-id="n" class="page-link" href="#">{{ n }}</a>
                </li>
            </ul>
        </nav>

        <div> Показано записи ({{pages.from}} &mdash; {{pages.to}}) из {{pages.total}}</div>

    </div>
</template>

<script>
    export default {
        name: "PagerComponent",
        props: ['pages'],
        computed:{
            listBlocks: function () {
                let blocks = [];
                if(this.pages.lastPage<5){
                    for(let i = 1; i<=this.pages.lastPage; i++){

                    }
                }
            }
        },
        methods:{
            changePage: function (event) {
                event.preventDefault();
                var i = event.target.dataset.id;
                if(i)
                this.$emit('page',i)
            }
        }
    }
</script>

<style scoped>

</style>